body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokedex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 40px;
  padding: 0px 40px;
  justify-content: center;
}

.poke-card {
  padding: 20px;
  margin: 40px;
  width: 200px;
  background: lightgrey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-card h2 {
  font-size: 1.2rem;
  color: blue;
}
.poke-card img {
  padding-bottom: 20px;
}

.poke-card div {
  margin: 10px;
}


